body {
    
   background-color: rgb(25, 25, 25);
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif; 

}  
.title-container{
    display: flex;
    justify-content: center;
    margin-top: -30px;
}
.button-container{  
    display: flex; 
    justify-content: center;
    margin-bottom: 20px; 
} 
.page-title{
    font-weight: bold;  
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 60px;
}  
.move-icon{
    height :50px;
    background-color: transparent;
}

.move-button{
    height: 120px;
    width: 120px;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 510px; 
    margin-bottom: 10px;
}
.result-text{
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
    
}
.js-moves{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.score{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.win-lose-tie-count{
    font-size: 18px;
    font-weight: bold;
}
.reset{
    display: flex;
    justify-content: center;
    font-size: 15px;
    background-color: whitesmoke;
    border: none;
    padding: 10px 12px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.reset-container{
    display: flex;
    justify-content: center;
    margin: 0;
}
.move-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.move-result{
    display: flex;
    justify-content: center;
    align-items: center;
}
.score-result{
    display: inline-block;
    justify-content: center;
    align-items: center;
}
.player-text{
    font-size: 25px;
    
}

/*background*/
body{
    margin: 0;
    padding: 0;
    background-color: black;
    
}
.block{
    position: relative;
    margin: 10% auto 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(0deg, black, rgb(44,44,44));
    
}
.glow::before, .glow::after{
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg ,#e6fb04,#ff6600,#00ff66,#00ffff,#ff00ff,#ff0099,#6e0dd0,#ff3300,#099fff)
    ;
    background-size: 400%;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: -1;
    animation: animate 20s linear infinite;

}
@keyframes animate {
    0%{
        background-position: 0 0;

    }
    50%{
        background-position: 400% 0;

    }
    100%{
        background-position: 0 0;
    }

}
.glow::after{
    filter: blur(10px);

}

/*media Queries */

@media (max-width : 791px ) and (min-width :515px){
    .page-title{
        font-weight: bold;  
        margin-top: 10px;
    }  
    .move-icon{
        height :60px;
        background-color: transparent;
    }
    .move-button{
        height: 140px;
        width: 140px;
        background-color: transparent;
        border: 3px solid white;
        border-radius: 510px; 
        margin-bottom: 10px;
    }
    .result-text{
        display: flex;
        justify-content: center;
        font-size: 30px;
        font-weight: bold;
        margin-top: 30px;
        margin-bottom: 30px;
        
    }
    .js-moves{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .score{
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .win-lose-tie-count{
        font-size: 18px;
        font-weight: bold;
    }
    .reset{
        display: flex;
        justify-content: center;
        font-size: 15px;
        background-color: whitesmoke;
        border: none;
        padding: 10px 12px;
        margin-top: 10px;
    }
    .reset-container{
        display: flex;
        justify-content: center;
    }
    .player-text{
        font-size: 25px;
        
    }
    .block{
        position: relative;
        margin: 10% auto 0;
        width: 80%;
        height: 100%;
        background: linear-gradient(0deg, black, rgb(44,44,44));
    }
    .move-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .move-result{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .score-result{
        display: inline-block;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width : 514px ) and (min-width: 354px){
    .body{
        margin: 0;
        padding: 0;
        height: 100%;
        overflow-x: hidden;

        overflow: hidden;
    }
    .page-title{
        font-weight: bold;  
        margin-top: 10px;
    }  
    .move-icon{
        height :60px;
        background-color: transparent;
    }
    .move-button{
        height: 140px;
        width: 140px;
        background-color: transparent;
        border: 3px solid white;
        border-radius: 510px; 
        margin-bottom: 10px;
    }
    .result-text{
        display: flex;
        justify-content: center;
        font-size: 30px;
        font-weight: bold;
        margin-top: 30px;
        margin-bottom: 30px;
        
    }
    .js-moves{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .score{
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .win-lose-tie-count{
        font-size: 18px;
        font-weight: bold;
    }
    .reset{
        display: flex;
        justify-content: center;
        font-size: 15px;
        background-color: whitesmoke;
        border: none;
        padding: 10px 12px;
        margin-top: 10px;
    }
    .reset-container{
        display: flex;
        justify-content: center;
    }
    .player-text{
        font-size: 25px;
        
    }
    .block{
        position: relative;
        margin: 10% auto ;
        width: 98%;
        height: 100%;
        background: linear-gradient(0deg, black, rgb(44,44,44));
    }
    .move-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .move-result{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .score-result{
        display: inline-block;
        justify-content: center;
        align-items: center;
    }
        
}
@media screen and (max-width : 353px ) and (min-width:269px){
    .body{
        margin: 0;
        padding: 0;
        height: 100%;
        overflow-x: hidden;
        overflow: hidden;
    }
    .page-title{
        font-weight: bold;  
        font-size: 22px;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;

    }  
    .move-icon{
        height :50px;
        background-color: transparent;
    }
    .move-button{
        height: 120px;
        width: 120px;
        background-color: transparent;
        border: 3px solid white;
        border-radius: 510px; 
        margin-bottom: 10px;
    }
    .result-text{
        display: flex;
        justify-content: center;
        font-size: 22px;
        font-weight: bold;
        margin-top: 30px;
        margin-bottom: 30px;
        
    }
    .js-moves{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 30px;
        
    }
    .score{
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .reset{
        display: flex;
        justify-content: center;
        font-size: 15px;
        background-color: whitesmoke;
        border: none;
        padding: 10px 12px;
        margin-top: 10px;
    }
    .reset-container{
        display: flex;
        justify-content: center;
    }
    .player-text{
        font-size: 20px;
        
    }
    .block{
        position: relative;
        margin: 10% auto ;
        width: 98%;
        height: 100%;
        background: linear-gradient(0deg, black, rgb(44,44,44));
    }
    .win-lose-tie-count{
        font-size: 18px;
        font-weight: bold
        ;display: block;
    }
    .score-result{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .move-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .move-result{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}
@media screen and (max-width:269px){
    .body{
        margin: 0;
        padding: 0;
        height: 100%;
        overflow-x: hidden;
        overflow: hidden;
    }
    .page-title{
        font-weight: bolder;  
        font-size: 17px;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;

    }  
    
    .move-button{
        height: 100px;
        width: 100px;
        background-color: transparent;
        border: 3px solid white;
        border-radius: 510px; 
        margin-bottom: 10px;
    }
    .result-text{
        display: flex;
        justify-content: center;
        font-size: 22px;
        font-weight: bold;
        margin-top: 30px;
        margin-bottom: 30px;
        
    }
    .js-moves{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 30px;
        
    }
    .score{
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .reset{
        display: flex;
        justify-content: center;
        font-size: 15px;
        background-color: whitesmoke;
        border: none;
        padding: 10px 12px;
        margin-top: 10px;
    }
    .reset-container{
        display: flex;
        justify-content: center;
    }
    
    .block{
        position: relative;
        margin: 10% auto ;
        width: 98%;
        height: 100%;
        background: linear-gradient(0deg, black, rgb(44,44,44));
    }
    .win-lose-tie-count{
        font-size: 18px;
        font-weight: bold;
        
    }
    .score-result{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .player-text{
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }
    .move-container{
        display: block;
    }
    .move-result{
        display: block;
        margin-bottom: 10px;
        justify-content: center;
        align-items: center;
    }
    .move-icon{
        height :40px;
        background-color: transparent;
        margin-bottom: 5px;
        display: inline-block;
        justify-content: center;
        align-items: center;
    }
    .move-icon-container{
        margin-left: 30px;
    }
    
}




